<suite thread-count="1" verbose="1" name="Automation task of Brain Station 23">
    <test name = "Registration process for 2 users">
        <classes>
            <class name="TestRunner.RegistrationTestRunner"/>
        </classes>
    </test>
    <test name = "First user login and purchasing items">
        <classes>
            <class name="TestRunner.FirstUserTestRunner"/>
        </classes>
    </test>
    <test name = "Second user login and purchasing items">
        <classes>
            <class name="TestRunner.SecondUserTestRunner"/>
        </classes>
    </test>
</suite>